<% if @checkouts == "login" %>
    <% if Settings.logo_on_homepage == "true" %>
        <img class="col-xs-12 col-md-4 col-md-offset-4 padbot" src="<%= asset_path(Settings.homepage_logo) %>" />
    <% end %>
    <h2 class="col-xs-12 col-md-8 col-md-offset-2 padbot" style="text-align:center;"><%= Settings.login_page_message %></h2>
    <div class="row">
        <%= render 'login_page' %>
    </div>
<% else %>
    <div class="row">
        <div id="account-menu" class="col-xs-12 col-sm-3">
            <%= render 'account_menu' %>
        </div>
        <div id="checkout_list" class="col-xs-12 col-sm-9">
            <%= render 'checkout_list', :checkouts => @checkouts %>
        </div>
    </div>
<% end %>
