<%= render 'summer_reading' %>
<% if Settings.promote_aspen == true %>
    <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
        <div class="col-md-12 text-center">
            <div class="alert alert-info">
            <br>
            <a href="https://discover.tadl.org">
                <button class="btn btn-lg btn-primary">
                    Discover Our New Catalog!
                </button>
            </a>
            <br>
            <p style="margin-top: 10px;">
            <strong>New!</strong> The library will soon be transitioning to a new online catalog. 
            <a href="https://www.tadl.org/discover"><strong>Click here to learn more.</strong></a>
            </p>
        </div>
    </div>
<% end %>
<div class="row">
    <%= render 'partial_search_box', search: @search %>
</div>
<div id="featured_lists" style ="display:none">
    <% @lists.each do |l| %>
    	<h2 class="pull-left"><%= l['fancy_name']%></h2>
    	<% if !l['searches'].nil? %>
            <% if l['searches'].count > 1 %>
                <%= render 'dropdown_explore_generic', list: l %>
            <% else %>
                <%= render 'nodropdown_explore_generic', list: l %>
            <% end %>
        <% end %>
        <div class="clearfix"></div>
    	<%= render 'featured_lists', list: Rails.cache.read(l['name']).shuffle, name: l['name'] %>
    <% end %>
</div>
<% if Settings.has_more_lists ==  true %>   
    <div id="more_featured_items">
        <div class="text-center">
            <%= link_to 'load_more_featured_items.js', remote: true, :method => :get, :type => 'button', :class => 'btn btn-block btn-primary', :style => 'margin-top: 15px; margin-bottom: 10px;' do %>
                Load More Featured Items
            <% end %>
        </div>
    </div>
<% end %>
<% if Settings.is_opac ==  true %>    
    <%= render partial: "screen_saver_managment" %>
<% end %>