<%= render 'summer_reading' %>
<div class="row">
    <%= render 'partial_search_box', search: @search %>
</div>
<div id="featured_lists" style ="display:none">
    <% @lists.each do |l| %>
    	<h2 class="pull-left"><%= l['fancy_name']%></h2>
    	<% if !l['searches'].nil? %>
            <% if l['searches'].count > 1 %>
                <%= render 'dropdown_explore_generic', list: l %>
            <% else %>
                <%= render 'nodropdown_explore_generic', list: l %>
            <% end %>
        <% end %>
        <div class="clearfix"></div>
    	<%= render 'featured_lists', list: Rails.cache.read(l['name']).shuffle, name: l['name'] %>
    <% end %>
</div>
<% if Settings.has_more_lists ==  true %>   
    <div id="more_featured_items">
        <div class="text-center">
            <%= link_to 'load_more_featured_items.js', remote: true, :method => :get, :type => 'button', :class => 'btn btn-block btn-primary', :style => 'margin-top: 15px; margin-bottom: 10px;' do %>
                Load More Featured Items
            <% end %>
        </div>
    </div>
<% end %>
<% if Settings.is_opac ==  true %>    
    <%= render partial: "screen_saver_managment" %>
<% end %>