<div class="row">
    <% if Settings.summer_reading == 'true' && (Date.parse('2016-6-5') < Date.today)  %>
        <div id="summer_reading_wrapper">
            <div id="summer_reading">
                <a href="https://summer.tadl.org">Register for Summer Reading Club</a>
            </div>
        </div>
    <% end %>
</div>
<div class="row">
    <%= render 'partial_search_box', search: @search %>
</div>
<% @lists.each do |l| %>
	<h2 class="pull-left"><%= l['fancy_name']%></h2>
	<% if !l['searches'].nil? %>
        <% if l['searches'].count > 1 %>
            <%= render 'dropdown_explore_generic', list: l %>
        <% else %>
            <%= render 'nodropdown_explore_generic', list: l %>
        <% end %>
    <% end %>
    <div class="clearfix"></div>
	<%= render 'featured_lists', list: Rails.cache.read(l['name']).shuffle, name: l['name'] %>
<% end %>
