<div id="account-menu" class="col-xs-12 col-sm-3">
    <%= render 'account_menu' %>
</div>
<div id="user_list" class="col-xs-12 col-sm-9">
    <h1>Lists</h1>
    <a id="new_list_link" onclick="show_create_list()">Create a new list</a>
    <div id="new_list_form" style="display:none">
            <b>List title:</b> <input id="new_list_title">
            <br>
            <b>List description:</b>
            <br>
            <textarea id="new_list_description"></textarea>
            <br>
            <b>Set Privacy</b>
            <select id="new_list_privacy">
                <option value="no">Private</option>
                <option value="yes">Public</option>
            </select>
            <br>
            <a onclick="create_new_list()">Create List</a>
    </div>
    <% @lists.each do |l| %>
    	<div id="list_details_<%= l.list_id %>">
            <h3><a href="/main/fetch_list?list_id=<%= l.list_id %>"><%= l.title %></a></h3>
    	   <% if l.description && l.description != '' %>
    		  <p><%= l.description %></p>
    	   <% end %>
        </div>
        <div id="edit_details_<%= l.list_id %>" style="display: none">
            <b>List title:</b> <input id="edit_list_title_<%= l.list_id %>" value="<%= l.title %>">
            <br>
            <b>List description:</b>
            <br>
            <textarea id="edit_list_description_<%= l.list_id %>"><%= l.description %></textarea>
            <br>
            <a onclick="edit_list(<%= l.list_id %>)">Save</a>
        </div>
    	<p><a id="edit_link_<%= l.list_id %>" onclick="show_edit_list(<%= l.list_id %>)"> Edit Name and Description </a></p>
    	<% if l.shared == true %>
    		<p>This is a public List (<a onclick="set_list_privacy(<%= l.list_id %>,'hide')">click here to make private</a>)</p>
    	<% else %>
    		<p>This is a private list (<a onclick="set_list_privacy(<%= l.list_id %>,'show')">click here to make public</a>)</p>
    	<% end %>
    	<% if l.default == true %>
    		<p>This is your default list</p>
    	<% else %>
    		<p><a onclick="set_default_list(<%= l.list_id %>)">Make Default List</a></p>
            <p><a onclick="delete_list(<%= l.list_id %>)">Delete List</a></p>
    	<% end %>
    <% end %>   
</div>
<script>store_lists()</script>