<% if @search.grid_active == 'active' %>
	var item = document.createElement('div');
	var grid = document.querySelector('#grid');
	
	<% @items.each do |i| %>
		salvattore['append_elements'](grid, [item]);
		item.outerHTML = "<%= escape_javascript(render partial: 'results_grid', :locals => {:item => i}) %>";
		$('#hidden_list').append('<li id="<%= i.id %>"><a class="hidden_link" onclick="item_details(<%= escape_javascript(i.create_params.to_json) %>)"><%= i.id %></a></li>');
	<% end %>
<% end %>
<% if @search.list_active == 'active' %>
	<% @items.each do |i| %>
		$('#list').append("<%= escape_javascript(render partial: 'results_list', :locals => {:item => i}) %>");
		$('#hidden_list').append('<li id="<%= i.id %>"><a class="hidden_link" onclick="item_details(<%= i.create_params.to_json %>)"><%= i.id %></a></li>');
	<% end %>
<% end %>

var more_link =  '<%= escape_javascript(render "more_results_link") %>'
$('#more_results').html(more_link);
bind_more_results();
detect_details_click();
item_loading_binds();
check_images();