<div class="row">
    <% unless @search.canned == 'true' %>
        <%= render 'full_search_box', search: @search %>
    <% else %>
        <%= render 'canned_header', search: @search %>
    <% end %>
</div>
<div class="row">
    <div class="collapse" id="facets">
        <% @facets.each do |facet| %>
            <%= render 'facets', facet: facet %>
        <% end %>
    </div>
</div>
<% if @search.in_progress %>
    <% if !@items.any? || @items[0].score < 1 %>
        <div class="row padtop">
            <div id="results" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3> We may not have what you're looking for. You may want to check your spelling or change your search settings. You can also check <a href="http://elibrary.mel.org/search/a?searchtype=X&searcharg=<%= @search.query %>&SORT=D">MELCat</a> or <a onclick="show_suggest_an_item()">suggest an item</a>. </h3>
            </div>    
        </div>
    <% end %>
<% end %>
<div class="row padtop">
    <div id="results" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <% if @search.list_active == "active" %>
            <%= render 'search_list', items: @items %>
        <% else %>
            <%= render 'search_grid', items: @items %>
        <% end %>
    </div>    
</div>
<div>
<ul id="hidden_list" style="display: none">
<% @items.each do |i| %>
    <li id="<%= i.id %>"><a class="hidden_link" onclick="item_details(<%= i.to_json %>)"><%= i.id %></a></li>
<% end %>
</ul>
</div>


<%= render 'more_results_link' %>

<script>
bind_more_results();
item_loading_binds();

document.addEventListener('page:change', function() {
    $('#results').addClass('animated fadeInUp');
});
document.addEventListener('page:fetch', function() {
    $('results').addClass('animated fadeOutDown');
})

$(document).on("submit", "form[data-turboform]", function(e) {
    Turbolinks.visit(this.action+(this.action.indexOf('?') == -1 ? '?' : '&')+$(this).serialize());
    return false;
});
</script>
