<%= render 'summer_reading' %>
<div class="row">
    <% unless @search.canned == 'true' %>
        <div style="padding: 5px;">
            <%= render 'full_search_box', search: @search %>
        </div>
    <% else %>
        <%= render 'canned_header', search: @search %>
    <% end %>
</div>
<div class="row">
    <div class="collapse" id="facets">
        <%= render 'fiction_facet', full_size: 'false' %>
        <% @facets.each do |facet| %>
            <%= render 'facets', facet: facet, full_size: 'false' %>
        <% end %>
    </div>
</div>
<% if @search.in_progress && !@search.query.blank? %>
    <% if !@items.any? || @items[0].score < 1 %>
        <div class="row padtop">
            <div id="results" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h4 class="center">
                    <% if (@search.loc != Settings.all_locations_code && !@search.loc.blank?) || @search.fmt != "all" || @search.qtype != "keyword" || !@search.availability.blank? %>
                        We found few or no close matches. If you don't see what you're looking for, try
                        <a href="<%= main_search_path %>?utf8=✓&query=<%= @search.query %>&layout=<%= @search.layout %>&qtype=keyword&fmt=all&sort=relevancy&loc=<%= Settings.all_locations_code %>&in_progress=true">
                         expanding your search
                        </a>.
                    <% else %>
                        We found few or no close matches. If you don't see what you're looking for,
                        <% if Settings.is_opac !=  true || Settings.is_opac_light ==  true && Settings.melcat_search != false %>
                            try
                            <a href="http://elibrary.mel.org/search/a?searchtype=X&searcharg=<%= @search.query %>&SORT=D">MeLCat</a> 
                            or
                        <% end %> 
                        <a onclick="show_suggest_an_item()" class="clicky">suggest an item</a>.
                    <% end %>
                </h4>
            </div>    
        </div>
    <% end %>
<% end %>
<div class="row padtop">
    <% if @search.list_active == "active" %>
        <div id="full_facets" class="visible-lg col-lg-3 ">
            <% if @new_search != 'true' %>
                <%= render 'fiction_facet', full_size: 'true' %>
            <% end %>
            <% @facets.each do |facet| %>
                <%= render 'facets', facet: facet, full_size: 'true' %>
                <div style="clear: both"></div>
            <% end %>
        </div>
        <div id="results" class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
            <%= render 'search_list', items: @items %>
        </div>
    <% else %>
        <div id="results" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= render 'search_grid', items: @items %>
        </div>
    <% end %>
</div>
<div>
<ul id="hidden_list" style="display: none">
<% @items.each do |i| %>
    <li id="<%= i.id %>"><a class="hidden_link" onclick="item_details(<%= i.to_json %>)"><%= i.id %></a></li>
<% end %>
</ul>
</div>


<%= render 'more_results_link' %>

<script>
bind_more_results();
item_loading_binds();

$(document).on("submit", "form[data-turboform]", function(e) {
    Turbolinks.visit(this.action+(this.action.indexOf('?') == -1 ? '?' : '&')+$(this).serialize());
    return false;
});
</script>
