<div id="account-menu" class="col-xs-12 col-sm-3">
    <%= render 'account_menu' %>
</div>
<div id="user_list" class="col-xs-12 col-sm-9">
    <% if @list['no_items'] != '' %>
    	<h2>Sorry the list titled, <%= @list['no_items'] %>, is empty</h2> 
    <% elsif @list['name'] == '' && @list['items'].empty? %>
    	<h2>Sorry this list either doesn't exsist or is private</h2> 
    <% end %>
    <h2><%= @list['name'] %></h2>
    <% if @list['description'] != '' %>
    	<p><%= @list['description'] %></p>
    <% end %>
    <% @list['items'].each do |i| %>
    	<div class="row" style="padding: 10px;">
    		<div class="col-md-2">
    			<img src='https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= i['record_id'] %>' class="img-responsive" 
                onerror="this.src='<%= asset_path(Settings.logo) %>?id=<%= i['record_id'] %>'" />
    		</div>
    		<div class="col-md-10">	
    			<h4>
    				<span class="glyphicon <%= format_icon_2(i['format_type'], @format_icons) %>" title="<%= i['format_type'] %>"></span>
    				<%= i['title'] %>
    				<% if i['author'] != '' %> - <%= i['author'] %> <% end %>
    			</h4>
    			<% if i['description'] != '' %>
    				<p><b>Summary:</b> <%= truncate(i['description'], length: 200, separator: ' ', omission: '...') %></p>
    			<% end %>
    			<% if i['contents'] != '' %>
    				<p><b>Contents:</b> <%= truncate(i['contents'], length: 200, separator: ' ', omission: '...') %></p>
    			<% end %>
    			<% if !i['e_resource'].nil? %>
    				<h5><a href="<%= i['e_resource'] %>">View Online</a></h5>
    			<% end %>
    			<% if !i['notes'].empty? %>
    				<b>Notes:</b>
    				<br>
    				<% i['notes'].each do |n| %>
    					<p>
    						<span id="note_<%= n['note_id'] %>">
    							<%= n['note'] %> 
    						</span>
    						<a id='edit_note_link_<%= n['note_id'] %>' onclick="show_edit_note(<%= n['note_id'] %>)"> - Edit Note</a>
    					</p>
    					<div id="edit_note_<%= n['note_id'] %>" style="display: none;">
    						<textarea id='edit_note_text_<%= n['note_id'] %>' rows="4" cols="40" id=""><%= n['note'] %></textarea>
    						<br>
    						<a onclick="save_edited_note(<%= @list_id %>, <%= n['note_id'] %>)">Save Note</a>
    					</div>
    				<% end %>
    			<% end %>
    			<div class="edit_list_control">
    			<button type="button" class="btn btn-success" onclick="show_add_note(<%= i['list_item_id'] %>)">
                    Add a new note
                </button>
                <button type="button" class="btn btn-danger" onclick="remove_from_list(<%= @list_id %>,<%= i['list_item_id'] %>)">
                    Remove from list
                </button>
                </div>
                <%= link_to main_details_path(:format => :js, :id => i['record_id']), :remote => true do %>
    				<button type="button" class="btn btn-info" onclick="">
                		Item Details
                	</button>
                <% end %>
                <div id='new_note_<%= i['list_item_id']%>' class="new_note_form">
    				<textarea id='new_note_text_<%= i['list_item_id']%>' rows="4" cols="40" id=""></textarea>
    				<br>
    				<a onclick="add_note(<%= @list_id %>, <%= i['list_item_id'] %>)">Save Note</a>
    			</div>
    		</div>
    	</div>
    <% end %>   
</div>
<script>store_lists()</script>
<script>
	var test = is_my_list('<%=@list_id%>')
	if(test == true){
		$('.edit_list_control').css('display', 'inline-block');
	}

</script>
