<div class="row">
    <%= render 'full_search_box', search: @search %>
</div>
<div class="row">
    <div id="facets" class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <%= @cached %>
        <% @facets.each do |facet| %>
			<%= render 'facets', facet: facet %>
		<% end %>
    </div>
    <div id="results" class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
        <% @layout = 'grid' %>
        <% if @layout == "grid" %>
            <%= render 'search_grid', items: @items %>
        <% else %>
            <%= render 'search_list', items: @items %>
        <% end %>
    </div>    
</div>

<% if @layout == "grid" %>
    <% if @more_results == true %>
        <div id="more_results" class="row" data-offset="700">
            <%= link_to "Load MOre", :params => @search.next_page_params, :method => :get, :format => :js, :id => 'more_link', :remote => true %>
        </div>
    <% end %>
    
    <script>
        $('#more_results').bind('inview', function (event, visible, topOrBottomOrBoth) {
          if (visible == true) {
            // element is now visible in the viewport
            if (topOrBottomOrBoth == 'top' || 'bottom') {
                $('#more_results:first a')[0].click();
            }
          }
        })
    </script>
<% end %>


<script>
    document.addEventListener('page:change', function() {
            document.getElementById('results').className += ' animated fadeInUp';
    });
    document.addEventListener('page:fetch', function() {
            document.getElementById('results').className += ' animated fadeOutDown';
    })
    
    $(document).on("submit", "form[data-turboform]", function(e) {
        Turbolinks.visit(this.action+(this.action.indexOf('?') == -1 ? '?' : '&')+$(this).serialize());
        return false;
    });
</script>

