<div class="row">
	<%= bootstrap_form_tag url: 'search', :html => { :method => 'get' } do |f| %>
  		<%= f.search_field :query, value: @search.query, label: "Query:" %>
  		<%= f.select :qtype,  options_for_select([['Keyword', 'keyword'], ['Author', 'author'],['Title', 'title'],['Subject', 'subject']], @search.qtype), { label: "Search Type:" }, { class: "selectpicker" } %>

  		<%= f.select :format,  options_for_select([['All', 'all'], ['Books', 'a'],['Movies', 'g'],['Music', 'j']], @search.format), { label: "Select Format:" }, { class: "selectpicker" } %>
  		<%= f.select :sort,  options_for_select([['Relevance', 'relevance'], ['Newest to Oldest', 'pubdate.descending'],['Oldest to Newest', 'pubdate'],['A to Z', 'titlesort'], ['Z to A', 'titlesort.descending']], @search.sort), { label: "Sort By:" }, { class: "selectpicker" } %>
  		<%= f.select :loc,  options_for_select([['All Locations', '22'], ['Woodmere', '23'],['Interlochen', '24'],['Kingsley', '25'], ['Peninsula', '26'], ['East Bay', '28'], ['Fife Lake', '27']], @search.loc), { label: "Select Location:" }, { class: "selectpicker" } %>
  		<%= f.form_group :availability do %>
  			<%= f.check_box :availability, label: "Only show available items", checked: @search.availability  %>
		<% end %>
  		<%= f.submit "Go" %>
<% end %>
</div>
<div class="row">
    <div id="facets" class="col-xs-3">
        <h3>Facets <%= @cached %></h3>
        <% @facets.each do |facet| %>
			<%= render 'facets', facet: facet %>
		<% end %>
    </div>
    <div id="results" class="col-xs-9">
        <%= render 'search_grid', items: @items %>
    </div>    
</div>

<script>
document.addEventListener('page:change', function() {
        document.getElementById('results').className += ' animated zoomIn';
});
document.addEventListener('page:fetch', function() {
        document.getElementById('results').className += ' animated zoomOut';
})
$(document).on("submit", "form[data-turboform]", function(e) {
    Turbolinks.visit(this.action+(this.action.indexOf('?') == -1 ? '?' : '&')+$(this).serialize());
    return false;
});
</script>

