Howdy,
<p>
  We just received the following item suggestion:
  <ul>
  	<li><b>Author or Group:</b> <%= @info['author'] %></li>
  	<li><b>Title:</b> <%= @info['title'] %></li>
  	<li><b>Department:</b> <%= @info['department'] %></li>
  	<li><b>ISBN:</b> <%= @info['isbn'] %></li>
  	<li><b>Item Format:</b> <%= @info['item_format'] %></li>
  	<li><b>Patron Name:</b> <%= @info['patron_name'] %></li>
  	<li><b>Patron Email:</b> <%= @info['patron_email'] %></li>
    <li><b>Patron Email:</b> <%= @info['card_number'] %></li>
  </ul>
</p>
<p>
Thanks!
<br>
TADL Bot
</p>