<div class="list-group">
    <h4 class="list-group-item list-group-item-info active">My Account</h4>
    <%= link_to '/mock/account', :class => 'list-group-item' do %>Summary<% end %>
    <%= link_to '/mock/settings', :class => 'list-group-item' do %>Account Settings<% end %>
    <%= link_to mock_checkouts_path, :class => 'list-group-item' do %>Checked Out Items<% end %>
    <%= link_to mock_holds_path, :class => 'list-group-item' do %>Holds<% end %>
    <%= link_to mock_fines_path, :class => 'list-group-item' do %>Fines<% end %>
    <%= link_to mock_payments_path, :class => 'list-group-item' do %>Payments<% end %>
</div>
