<% info = ActiveSupport::JSON.decode(cookies[:user]) %>
<ul class="nav navbar-nav">
    <li <% if request.path == mock_checkouts_path %> class="active"<% end %>>
    	<a href="<%= mock_checkouts_path %>">
    		Checkouts <span class="badge"><span id="checkouts"><%= info['checkouts']%></span></span>
    	</a>
    </li>
    <li<% if request.path == mock_holds_path %> class="active"<% end %>>
    	<a href="<%= mock_holds_path %>">
    		Holds <span class="badge"><span id="holds"><%= info['holds']%></span></span>
    	</a>
    </li>
        <li<% if request.path == mock_fines_path %> class="active"<% end %>>
            <a href="<%= mock_fines_path %>">
                Fines <span class="badge">$<span id="fine"><%= info['fine']%></span></span>
            </a>
        </li>
    <li><p class="navbar-btn">
        <%= link_to mock_preferences_path, :type => 'button', :class => 'btn btn-primary', :style => 'margin-left:10px;' do %>
            My Account
        <% end %></p>
    </li>
    <li><p class="navbar-btn">
    	<%= link_to 'logout.js', :remote => true, :type => 'button', :class => 'btn btn-default', :style => 'margin-left:10px;' do %>
    		Log out
    	<% end %></p>
    </li>
</ul>
