<div class="list-group">
    <div class="list-group-item active"><h4>My Account</h4></div>
    <%= link_to main_preferences_path, :class => "navi list-group-item #{'active' if request.path == main_preferences_path}" do %>
        Account Preferences
    <% end %>
    <%= link_to main_checkouts_path, :class => "navi list-group-item #{'active' if request.path == main_checkouts_path}" do %>
        Checked Out Items
    <% end %>
    <%= link_to main_holds_path, :class => "navi list-group-item #{'active' if @ready && @ready == 'false'}" do %>
        All Items on Hold
    <% end %>
    <%= link_to '/main/holds?ready=true', :class => "navi list-group-item #{'active' if @ready && @ready == 'true'}" do %>
        Holds Ready for Pickup
    <% end %>
    <% if Settings.account_only != 'true' %>
        <%= link_to main_lists_path, :class => "navi list-group-item #{'active' if request.path == main_lists_path}" do %>
            My Lists
        <% end %>
        <%= link_to main_fines_path, :class => "navi list-group-item #{'active' if request.path == main_fines_path}" do %>
            Current Fines
        <% end %>
        <%= link_to main_payments_path, :class => "navi list-group-item #{'active' if request.path == main_payments_path}" do %>
            Past Payments
        <% end %>
    <% end %>
    <%= link_to main_checkout_history_path, :class => "navi list-group-item #{'active' if request.path == main_checkout_history_path}" do %>
        Checkout History
    <% end %>
</div>
<% if (request.path == main_preferences_path) && Settings.account_only != 'true' && Settings.melcat_search != false %>
    <div class="clearfix padtop"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">Your MeLCat ID</div>
        <div class="panel-body">
            <%= @preferences['melcat_id'] %>
        </div>
    </div>
<% end %>
<% if (request.path == main_preferences_path) && Settings.account_only != 'true' %>
    <div class="clearfix padtop"></div>
    <div class="panel panel-primary">
        <div class="panel-heading">Your Primary Library Card #</div>
        <div class="panel-body">
            <%= primary_card_helper(@user) %>
            <br>
            <a onclick="show_barcode('<%= @user.card %>')" class="visible-xs">Show Barcode</a>
        </div>
    </div>
  <div id ='barcode'>
  </div>  
<% end %>
<div class="clearfix padtop"></div>
<% if (request.path == main_fines_path &&  Settings.has_payments == "true"  && @user.fine != "0.00" && Settings.is_opac != true) %>
    <div class="btn-group">
        <form method="POST" action="<%= Settings.payment_link %>">
            <input type="hidden" name="ses" value="<%= @user.token %>">
            <input type="submit" class="btn btn-default form-control" value="Pay fines">
        </form>
    </div>
<% end %>
