<div class="list-group">
    <div class="list-group-item"><h4>My Account</h4></div>
    <%= link_to mock_account_path, :class => "list-group-item #{'active' if request.path == mock_account_path}" do %>Summary<% end %>
    <%= link_to '/mock/settings', :class => "list-group-item #{'active' if request.path == '/mock/settings'}" do %>Account Settings<% end %>
    <%= link_to mock_checkouts_path, :class => "list-group-item #{'active' if request.path == mock_checkouts_path}" do %>Checked Out Items<% end %>
    <%= link_to mock_holds_path, :class => "list-group-item #{'active' if request.path == mock_holds_path}" do %>Holds<% end %>
    <%= link_to mock_fines_path, :class => "list-group-item #{'active' if request.path == mock_fines_path}" do %>Fines<% end %>
    <%= link_to mock_payments_path, :class => "list-group-item #{'active' if request.path == mock_payments_path}" do %>Payments<% end %>
</div>
