<% info = ActiveSupport::JSON.decode(cookies[:user]) %>
<ul class="nav navbar-nav">
    <% if Settings.show_ancestory == true %>
      <li>
        <a href="https://ancestrylibrary.proquest.com/aleweb/ale/do/login/refurl" target="blank">Ancestory.com</a>
      </li>
    <% end %>
    <li <% if request.path == main_checkouts_path %> class="active"<% end %>>
    	<a href="<%= main_checkouts_path %>" class="navi">
    		Checkouts <span class="badge"><span id="checkouts"><%= info['checkouts']%></span></span>
    	</a>
    </li>
    <li<% if @ready && @ready == 'false' %> class="active"<% end %>>
    	<a href="<%= main_holds_path %>" class="navi">
    		Holds <span class="badge"><span id="holds"><%= info['holds']%></span></span>
    	</a>
    </li>
    <% if info['holds_ready'].to_i > 0 %>
        <li<% if @ready && @ready == 'true' %> class="active"<% end %>>
            <a href="/main/holds?ready=true" class="navi">
                Ready for Pickup <span class="badge"><span id="holds_ready"><%= info['holds_ready']%></span></span>
            </a>
        </li>
    <% end %>
    <% if info['fine'].to_f > 0 %>
        <li<% if request.path == main_fines_path %> class="active"<% end %>>
            <a href="<%= main_fines_path %>" class="navi">
                Fines <span class="badge">$<span id="fine"><%= info['fine']%></span></span>
            </a>
        </li>
    <% end %>
    <li>
        <div class="btn-group navbar-btn">
            <% if Settings.account_only != 'true' %>
                <%= link_to main_preferences_path, :type => 'button', :id => 'myaccountmenu', :class => 'btn btn-primary navi', :style => 'margin-left:10px;' do %>My Account<% end %>
            <% else %>
                <%= link_to main_checkouts_path, :type => 'button', :id => 'myaccountmenu', :class => 'btn btn-primary navi', :style => 'margin-left:10px;' do %>My Account<% end %>
            <% end %>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="navi" href="/main/preferences">Account Preferences</a></li>
                <li><a class="navi" href="/main/checkouts">Checked Out Items</a></li>
                <li><a class="navi" href="/main/holds">All Items on Hold</a></li>
                <li><a class="navi" href="/main/holds?ready=true">Holds Ready for Pickup</a></li>
                <% if Settings.account_only != 'true' %>
                    <li><a class="navi" href="/main/lists">My Lists</a></li>
                    <li><a class="navi" href="/main/fines">Current Fines</a></li>
                    <li><a class="navi" href="/main/payments">Past Payments</a></li>
                <% end %>
                <li><a class="navi" href="/main/checkout_history">Checkout History</a></li>
            </ul>
        </div>
    </li>
    <li>
        <p class="navbar-btn">
            <%= link_to 'logout.js', :remote => true, :type => 'button', :class => 'btn btn-default', :style => 'margin-left:10px;' do %>Log out<% end %>
   
            <% if Settings.is_opac == true && Settings.is_opac_light != true %>
                <button style="margin-left: 8px;" type="button" class="btn btn-primary" onclick="end_session()" id="end_session">End Session</button>
            <% end %>
        </p>
    </li>
</ul>
<%= render partial: 'comp_reservation' %>

