<div class="col-xs-12">
    <% date_difference = (Date.today - Date.parse(checkout.iso_due_date)).to_i.to_s %>
    <% if date_difference.to_i == 0 %>
        <div class="panel panel-warning">
        <% due_message = 'This item is due today' %>
    <% elsif date_difference.to_i > 0 %>
        <div class="panel panel-danger">
        <% if date_difference.to_i == 1 %>
            <% days_overdue = ' day ' %>
        <% else %>
            <% days_overdue = ' days ' %>
        <% end %>
        <% due_message = 'This item is ' + date_difference + days_overdue + 'overdue' %>
    <% else %>
        <div class="panel panel-default">
    <% end %>
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                    <% if checkout.record_id != '-1' %>
                        <%= link_to '/main/details.js?id='+checkout.record_id, :remote => true, :class => 'item-link'  do %>
                            <h4 class="panel-title"><%= checkout.title %></h4>
                        <% end %>
                    <% else %>
                        <h4 class="panel-title"><%= checkout.title %></h4>
                    <% end %>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    <h4 class="pull-right panel-title"><span class="glyphicon <%= format_icon_2(checkout.format, @format_icons) %>"></span></h4>
                </div>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-xs-5"><!-- image -->
                    <%= link_to '/main/details.js?id='+checkout.record_id, :remote => true, :class => 'item-link'  do %>
                        <img src='<%= Settings.cover_path_med %><%= checkout.record_id %>' style="width:100%;" onerror="this.src='<%= asset_path(Settings.logo) %>?id=<%= checkout.record_id %>'" />
                    <% end %>
                </div>
                <div class="col-lg-7 col-sm-7 col-xs-7"><!-- details about item -->
                    <% if !due_message.blank? %><h2 class="overdue"><%= due_message %></h2><% end %>
                    <% if !checkout.author.nil? %><h4><%= checkout.author %></h4><% end %>
                    <dl class="dl-horizontal">
                    <dt>Item Barcode</dt>
                    <dd><%= checkout.barcode %></dd>
                    <dt>Renewals remaining</dt>
                    <dd><%= checkout.renew_attempts %></dd>
                    <dt>Due Date</dt>
                    <dd><%= checkout.due_date %></dd>
                    </dl>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div>
                        <% if checkout.renew_attempts.to_i > 0 %>
                            <%= link_to 'renew_checkouts.js?checkout_ids='+checkout.checkout_id+'&record_ids='+checkout.record_id, remote: true, :id => 'checkout-renew-'+checkout.record_id, :type => 'button', :class => 'checkout-renew btn btn-block btn-success' do %>Renew<% end %>
                        <% else %>
                            <button type="button" class="btn btn-block btn-warn disabled">Renew</button>
                        <% end %>
                        <% if checkout.record_id != '-1' %>
                            <%= link_to '/main/details.js?id='+checkout.record_id, :remote => true, :type => 'button', :class => 'btn btn-block btn-info details-button' do %>Details<% end %>
                        <% end %>
                        <button type="button" class="btn btn-default btn-block select-btn select-<%= checkout.checkout_id %>" onclick="checkout_select(<%= checkout.checkout_id %>,<%= checkout.record_id %>)">Select</button>
                    </div>
                </div>
            </div>
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
</div><!-- /.col -->
