<ul class="nav nav-tabs" role="tablist">
    <% if item.electronic != 'true' %>
        <li role="presentation" class="<% if item.loc_copies_available.to_i  >= 1 %>active<% else %>disabled<% end %>"><a href="#onShelf" aria-controls="onShelf" role="tab" data-toggle="tab">Copies on Shelf</a></li>
        <li role="presentation" class="<% if item.all_copies_available.to_i == 0 %>active<% end %>"><a href="#allCopies" aria-controls="allCopies" role="tab" data-toggle="tab">All Copies <span class="badge"><%= item.all_copies_total %></span></a></li>
    <% end %>
    <% if item.genres && item.genres.size > 0  %>
    	<li role="presentation" class=""><a href="#item_genres" aria-controls="item_genres" role="tab" data-toggle="tab">Genres</a></li>
    <% end %>
    <% if item.subjects && item.subjects.size > 0 %>
    	<li role="presentation" class=""><a href="#item_subjects" aria-controls="item_subjects" role="tab" data-toggle="tab">Subjects</a></li>
    <% end %>
    <% if item.series && item.series.size > 0 %>
    	<li role="presentation" class=""><a href="#item_series" aria-controls="item_series" role="tab" data-toggle="tab">Series</a></li>
    <% end %>
    <% if item.author_other && item.author_other.size > 0 %>
        <li role="presentation" class=""><a href="#item_authors" aria-controls="item_authors" role="tab" data-toggle="tab">Other Authors / Cast / Groups</a></li>
    <% end %>
</ul>


<div class="tab-content">
    <% if item.electronic != 'true' %>
        <div role="tabpanel" class="tab-pane<% if item.loc_copies_available.to_i  >= 1 %> active<% end %>" id="onShelf">
        	<%= render 'list_copies', item: item, all: true %>
        </div>
        <div role="tabpanel" class="tab-pane<% if item.all_copies_available.to_i  == 0 %> active<% end %>" id="allCopies">
           <%= render 'list_copies', item: item, all: false %>
        </div>
    <% end %>
    <div role="tabpanel" class="tab-pane" id="item_genres">
       <%= render 'item_facets', item: item, facets: item.genres, type: 'single_genre' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="item_subjects">
       <%= render 'item_facets', item: item, facets: item.subjects, type: 'subject' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="item_series">
       <%= render 'item_facets', item: item, facets: item.series, type: 'series' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="item_authors">
       <%= render 'item_facets', item: item, facets: item.author_other, type: 'author' %>
    </div>
</div>
