<% if @item.id %>
<button id="previous_link" style="display:none;" class="pull-left btn btn-xs btn-primary" type="button" onclick="load_previous(<%= @item.id %>, '<%= @list_name %>')">
	<i class="glyphicon glyphicon-chevron-left"></i> Previous
</button>
<button id="next_link" style="display:none;" class="pull-right btn btn-xs btn-primary" type="button" onclick="load_next(<%= @item.id %>, '<%= @list_name %>')">
	Next <i class="glyphicon glyphicon-chevron-right"></i>
</button>
<div class="clearfix padbot"></div>
<%= render 'item_details', item: @item, search: @search %>
<%= render 'detail_tabs', item: @item %>
