<div class="dropdown pull-right" style="margin-top:15px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="exploreMusic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Explore <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="exploreMusic">
        <li><%= link_to '/mock/search?query=&qtype=shelf&sort=pubdateDESC&loc=23&shelving_location[]=684&layout=grid&search_title=Hot%20Tunes', :remote => false, :class => 'item-link' do %>HOT Tunes<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=shelf&sort=pubdateDESC&loc=23&shelving_location[]=686&layout=grid&search_title=New%20Music', :remote => false, :class => 'item-link' do %>New Music<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Avant-garde&layout=grid&search_title=Avant-garde&genre_lock=Avant-garde', :remote => false, :class => 'item-link' do %>Avant-garde<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Blues&layout=grid&search_title=Blues&genre_lock=Blues', :remote => false, :class => 'item-link' do %>Blues<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Classical&layout=grid&search_title=Classical&genre_lock=Classical', :remote => false, :class => 'item-link' do %>Classical<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&genres[]=Comedy/Spoken&layout=grid&search_title=Comedy/Spoken&genre_lock=Comedy/Spoken', :remote => false, :class => 'item-link' do %>Comedy/Spoken<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Country&layout=grid&search_title=Country&genre_lock=Country', :remote => false, :class => 'item-link' do %>Country<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Easy Listening&layout=grid&search_title=Easy Listening&genre_lock=Easy Listening', :remote => false, :class => 'item-link' do %>Easy Listening<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Electronic&layout=grid&search_title=Electronic&genre_lock=Electronic', :remote => false, :class => 'item-link' do %>Electronic<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Folk&layout=grid&search_title=Folk&genre_lock=Folk', :remote => false, :class => 'item-link' do %>Folk<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=International&layout=grid&search_title=International&genre_lock=International', :remote => false, :class => 'item-link' do %>International<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Jazz&layout=grid&search_title=Jazz&genre_lock=Jazz', :remote => false, :class => 'item-link' do %>Jazz<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Latin&layout=grid&search_title=Latin&genre_lock=Latin', :remote => false, :class => 'item-link' do %>Latin<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Local&layout=grid&search_title=Local&genre_lock=Local', :remote => false, :class => 'item-link' do %>Local<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=New Age&layout=grid&search_title=New Age&genre_lock=New Age', :remote => false, :class => 'item-link' do %>New Age<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Opera&layout=grid&search_title=Opera&genre_lock=Opera', :remote => false, :class => 'item-link' do %>Opera<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Pop/Rock&layout=grid&search_title=Pop/Rock&genre_lock=Pop/Rock', :remote => false, :class => 'item-link' do %>Pop/Rock<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Rap&layout=grid&search_title=Rap&genre_lock=Rap', :remote => false, :class => 'item-link' do %>Rap<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Reggae&layout=grid&search_title=Reggae&genre_lock=Reggae', :remote => false, :class => 'item-link' do %>Reggae<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Religious&layout=grid&search_title=Religious&genre_lock=Religious', :remote => false, :class => 'item-link' do %>Religious<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Rhythm and Blues&layout=grid&search_title=Rhythm and Blues&genre_lock=Rhythm and Blues', :remote => false, :class => 'item-link' do %>Rhythm and Blues<% end %></li>
        <li><%= link_to '/mock/search?query=&qtype=genre&sort=pubdateDESC&loc=23&fmt=j&genres[]=Vocal&layout=grid&search_title=Vocal&genre_lock=Vocal', :remote => false, :class => 'item-link' do %>Vocal<% end %></li>
    </ul>
</div>



