<div class="dropdown pull-right" style="margin-top:15px;">
    <button class="btn btn-default dropdown-toggle" type="button" id="exploreGames" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Explore <span class="caret"></span>
    </button>
    <ul class="dropdown-menu smartdrop" aria-labelledby="exploreGames">
        <li><%= link_to '/main/search?query=&qtype=genre&sort=pubdateDESC&loc=23&genres[]=Nintendo Wii U video games.&layout=grid&search_title=Nintendo Wii U&genre_lock=Nintendo Wii U video games.', :remote => false, :class => 'item-link' do %>Nintendo Wii U video games.<% end %></li>
        <li><%= link_to '/main/search?query=&qtype=genre&sort=pubdateDESC&loc=23&genres[]=Xbox 360 video games.&layout=grid&search_title=Xbox 360&genre_lock=Xbox 360 video games.', :remote => false, :class => 'item-link' do %>Xbox 360 video games.<% end %></li>
        <li><%= link_to '/main/search?query=&qtype=genre&sort=pubdateDESC&loc=23&genres[]=PlayStation 4 video games.&layout=grid&search_title=PlayStation 4&genre_lock=PlayStation 4 video games.', :remote => false, :class => 'item-link' do %>PlayStation 4 video games.<% end %></li>
        <li><%= link_to '/main/search?query=&qtype=genre&sort=pubdateDESC&loc=23&genres[]=Nintendo Wii video games.&layout=grid&search_title=Nintendo Wii&genre_lock=Nintendo Wii video games.', :remote => false, :class => 'item-link' do %>Nintendo Wii video games.<% end %></li>
        <li><%= link_to '/main/search?query=&qtype=genre&sort=pubdateDESC&loc=23&genres[]=Xbox video games.&layout=grid&search_title=Xbox&genre_lock=Xbox video games.', :remote => false, :class => 'item-link' do %>Xbox video games.<% end %></li>
        <li><%= link_to '/main/search?query=&qtype=genre&sort=pubdateDESC&loc=23&genres[]=PlayStation 3 video games.&layout=grid&search_title=PlayStation 3&genre_lock=PlayStation 3 video games.', :remote => false, :class => 'item-link' do %>PlayStation 3 video games.<% end %></li>
        <li><%= link_to '/main/search?query=&qtype=genre&sort=pubdateDESC&loc=23&genres[]=PlayStation 2 video games.&layout=grid&search_title=PlayStation 2&genre_lock=PlayStation 2 video games.', :remote => false, :class => 'item-link' do %>PlayStation 2 video games.<% end %></li>
    </ul>
</div>
