<div class="row clearfix">
    <div id="slider_<%= name %>" class="square-carousel">
        <% list.each do |item| %>
            <a class="item_details_link" href="details?id=<%= item.id %>" onclick="item_details(<%= item.to_json %>, '<%= name %>')">
                <img class="carousel-item lazyOwl" style="height:160px; max-width: 160px;" src="<%= Settings.cover_path_med %><%= item.id.to_s %>" data-src="<%= Settings.cover_path_med %><%= item.id.to_s %>" />
            </a>
        <% end %>
    </div>
    <ul id="hidden_list_<%= name %>" style="display: none">
		<% list.each do |i| %>
    		<li id="<%= i.id %>_<%= name %>"><a class="hidden_link" onclick="item_details(<%= i.to_json %>, '<%= name %>')"><%= i.id %></a></li>
		<% end %>
	</ul>
</div>
