<tr>
    <td><%= fine[:transaction_start_date] %></td>
    <td><%= fine[:last_pmt_date] %></td>
    <td><%= fine[:initial_amt_owed] %></td>
    <td><%= fine[:total_amt_paid] %></td>
    <td><%= fine[:balance_owed] %></td>
    <td><%= fine[:billing_type] %></td>
</tr>
