<%= bootstrap_form_tag url: 'search', :html => { :method => 'get', :class => 'form' } do |f| %>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><%= Settings.search_text %></span>
                <label class="sr-only control-label" for="query">Query</label>
                <input class="form-control" id="query" name="query" type="search" value="<%= search.query %>">
                <input type="hidden" name="layout" value="<%= search.layout = search.layout || 'list' %>">
                <span class="input-group-btn">
                    <label class="sr-only" for="commit"><%= Settings.search_text %></label>
                    <button type="submit" name="commit" class="btn btn-primary" id="search-button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 padtop">
            <% @facets.each do |facet| %>
                <% unless facet.subfacets.count == 0 %>
                        <% facet.subfacets.each do |sub| %>
                            <% unless @search.genre_lock == sub %>
                                <% if @search.active_facet(facet.type_raw, sub) && !@search.fmt.split(',').include?(sub) %>
                                    <a class="btn btn-primary btn-xs" href="<%= @search.search_path_minus_selected_facet(facet.type_raw, sub)%>"><%= sub %> <span class="badge"><span class="glyphicon glyphicon-remove removefacet"></span></span></a>
                                <% end %>
                            <% end %>
                        <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div id="searchOptions">
        <div class="row form-inline padtop padbot">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon">Type</span>
                    <%= f.select :qtype,  options_for_select(@query_options, search.qtype), { hide_label: true }, { class: search.query.blank? ? "selectpicker" : "selectpicker autoload" } %>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><%= Settings.format_label %></span>
                    <%= f.select :fmt,  options_for_select(@format_options, search.fmt), { hide_label: true }, { class: search.query.blank? ? "selectpicker" : "selectpicker autoload" } %>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon">Sort</span>
                    <%= f.select :sort, options_for_select(@sort_options, search.sort), { hide_label: true }, { class: search.query.blank? ? "selectpicker" : "selectpicker autoload" } %>
                </div>
            </div>
            <% if @location_lock %>
                <%= f.hidden_field :loc, :value => @location_lock %>
            <% elsif search.shelf_lock == 'on' %>
            <% elsif search.query.blank? %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 toggleme" style="display:none;">
                    <div class="input-group">
                        <span class="input-group-addon">Location</span>
                        <%= f.select :loc,  options_for_select(@location_options, search.loc), { hide_label: true }, { class: search.query.blank? ? "selectpicker" : "selectpicker autoload" } %>
                    </div>
                </div>
            <% else %>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="input-group">
                        <span class="input-group-addon">Location</span>
                        <%= f.select :loc,  options_for_select(@location_options, search.loc), { hide_label: true }, { class: search.query.blank? ? "selectpicker" : "selectpicker autoload" } %>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="row form-inline">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <input type="checkbox" <% if !search.query.blank? %>class="autoload" <% end %>name="availability" id="availability" <% if search.availability_check==true %>checked="checked"<% end %>>
                    <div class="btn-group">
                        <label for="availability" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span></span>
                        </label>
                        <label for="availability" class="btn btn-default">
                            Limit to available
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                <% if Settings.shelf_lock %>
                    <div class="form-group">
                    <% if search.shelf_lock == 'on' || !search.shelf_lock.nil? || @blank_search == true %>
                        <input type="checkbox" <% if !search.query.blank? %>class="autoload" <% end %>name="shelf_lock" id="shelf_lock" checked="checked">                 
                    <% else %>
                         <input type="checkbox" <% if !search.query.blank? %>class="autoload" <% end %>name="shelf_lock" id="shelf_lock" > 
                    <% end %>
                    <div class="btn-group">
                        <label for="shelf_lock" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span></span>
                        </label>
                        <label for="shelf_lock" class="btn btn-default">
                            <%= Settings.shelf_lock.text %>
                        </label>
                    </div>
                <% end %>
            </div>
            <% if !search.query.blank? %>
                <a class="btn btn-default" role="button" data-toggle="collapse" href="#facets" aria-expanded="false" aria-controls="facets">Filters <span class="caret"></span></a>
            <% end %>
        </div>
        <div class="pull-right padbot" style="margin-right:20px;">
            <% if @search.search_path != '' && !search.query.blank? %>
                <a href="search<%= @search.search_path_with_facets %>&layout=list"><button class="<%= @search.list_active %> btn btn-default btn-xs large glyphicon glyphicon-list"></button></a>
                <a href="search<%= @search.search_path_with_facets %>&layout=grid"><button class="<%= @search.grid_active %> btn btn-default btn-xs large glyphicon glyphicon-th"></button></a>
            <% end %>
        </div>
    </div>
<% end %>
