<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                    <%= link_to 'details.js?id='+hold.record_id, :remote => true  do %>
                        <h4 class="panel-title"><%= hold.title %></h4>
                    <% end %>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                    <h4 class="pull-right panel-title"><span class="glyphicon <%= format_icon(hold.format, @format_icons) %>"></span></h4>
                </div>
            </div>
        </div><!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-sm-2 col-xs-5"><!-- image -->
                    <%= link_to 'details.js?id='+hold.record_id, :remote => true  do %>
                        <img src='https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= hold.record_id %>' style="width:100%;"
                            onerror="this.src='<%= asset_path("logo-clock-only.png") %>?id=<%= hold.record_id %>'" />
                    <% end %>
                </div>
                <div class="col-lg-7 col-sm-7 col-xs-7"><!-- details about item -->
                    <% if !hold.author.nil? %><h4><%= hold.author %></h4><% end %>
                    <dl class="dl-horizontal">
                    <dt>Queue Position</dt>
                    <dd><%= hold.queue_state[0] %> out of <%= hold.queue_state[1] %></dd>
                    <dt>Pickup Location</dt>
                    <dd><%= hold.pickup_location %></dd>
                    <dt>Hold Status</dt>
                    <dd><%= hold.hold_status %></dd>
                    </dl>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12"><!-- suspend/activate/cancel buttons -->
                    <div>
                        <% if hold.hold_status == 'Active' && !hold.ready %>
                            <%= link_to 'manage_hold.js', :method => :post, data: {params: hold.create_params('suspend')}, remote: true, :id => 'hold-manage-suspend-'+hold.record_id, :type => 'button', :class => 'hold-suspend btn btn-block btn-warning' do %>Suspend<% end %>
                        <% elsif hold.hold_status == 'Suspended' %>
                            <%= link_to 'manage_hold.js', :method => :post, data: {params: hold.create_params('activate')}, remote: true, :id => 'hold-manage-activate-'+hold.record_id, :type => 'button', :class => 'hold-activate btn btn-block btn-success' do %>Activate<% end %>
                        <% end %>
                        <%= link_to 'manage_hold.js', data: {params: hold.create_params('cancel')}, remote: true, :id => 'hold-manage-cancel-'+hold.record_id, :type => 'button', :class => 'hold-manage btn btn-block padtop btn-primary' do %>Cancel<% end %>
                        <%= link_to 'details.js?id='+hold.record_id, :remote => true, :type => 'button', :class => 'btn btn-block btn-info details-button' do %>Details<% end %>
                        <a href="#" class="btn btn-default btn-block select-<%= hold.hold_id %>" onclick="item_select(<%= hold.hold_id %>)">Select</a>
                    </div>
                </div>
            </div>
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
</div><!-- /.col -->
