<div class="row" style="margin-top:-15px;">
    <div class="col-xs-12">
        <a href="#">&laquo; Back to search results</a>
    </div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<img style="width:100%;" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.id %>">
	</div>	    	
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-xs-10 col-lg-10">
                <h2><%= item.title.split("/")[0] %></h2>
            </div>
            <div class="col-xs-2 col-lg-2">
                <h2><span class="pull-right glyphicon <%= format_icon(item.format_type, @format_icons) %>" title="<%= item.format_type %>"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12"><p><%= item.author %></p></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <% if !item.abstract.nil? %>
                    <dl>
                        <dt>Summary</dt>
                        <dd><%= item.abstract %></dd>
                <% if item.check_trailer %>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/<%= item.check_trailer %>"></iframe>
                    </div>
                <% end %>
                    </dl>
                <% end %>
                <% if !item.contents.nil? %>
                    <dl>
                        <dt>Contents</dt>
                        <dd><%= item.contents %></dd>
                    </dl>
                <% end %>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <span class="pull-right"><% if item.eresource.nil? %><p><button class="btn btn-success holdbtn" id="record-<%= item.id %>">Place hold</button></p><% end %></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <% if !item.physical_description.nil? %>
                    <dl>
                        <dt>Description</dt>
                        <dd><%= item.physical_description %></dd>
                    </dl>
                <% end %>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <% if !item.publisher.nil? %>
                    <dl>
                        <dt>Publisher</dt>
                        <dd><%= item.publisher + ' ' + item.publication_place + ' ' + item.record_year %></dd>
                    </dl>
                <% end %>
            </div>
        </div>
	</div>
</div>
<div class="row clearfix padbot"></div>
<div id="holdlogin" style="display: none">
    <h4>You must log in to place a hold</h4>
    <label for="holdloginuser">Username or Library Card</label>
    <input type="text" id="holdloginuser" name="holdloginuser" class="form-control" />
    <label for="holdloginpass" class="padtop">Password</label>
    <input type="password" id="holdloginpass" name="holdloginpass" class="form-control" />
    <div class="padtop">
        <button type="button" class="btn btn-success loginsubmit" id="holdloginsubmit">Log in and Place Hold</button>
    </div>
    <div class="padtop">
        <button type="button" class="btn btn-danger logincancel" id="holdlogincancel">Cancel</button>
    </div>
</div>
<script>
function bind_login() {
    $('.holdbtn').on("click", function() {
        var recordid = $(this).attr("id").replace('record-', '');
        console.log('record ' + recordid);
        var logged_in = sessionStorage.getItem('authed');
        console.log('auth status is ' + logged_in);
        if (logged_in == null) {
            /* present the login form and eventually call a login function
             * which should be stored in all.js probably. Also place the hold
             * because otherwise you're just making things difficult.
             */
            var contents = $('#holdlogin').html();
            var holdbutton = $(this).parents().eq(1).html();
            $('#holdlogin').empty();
            $(this).parent().html(contents);
            $("#holdloginsubmit").on("click", function() {
                var username = $('#holdloginuser').val();
                var password = $('#holdloginpass').val();
                /* here is where we will actually log in, and then
                 * place the hold.
                 */
                if (username != null) { 
                    console.log('storing username: ' + username);
                    sessionStorage.setItem('username', username); 
                }
                if (password != null) {
                    var hash = $.md5(password);
                    console.log('storing hash: ' + hash);
                    sessionStorage.setItem('hash', hash);
                }
                var login_params = {"username": username, "password": password};
                var jqxhr = $.ajax({
                    method: 'POST',
                    url: 'https://apiv2.catalog.tadl.org/account/login',
                    data: login_params,
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded, charset=UTF-8",
                    timeout: 15000
                }).done(function(data) {
                    if (data.message == 'login failed' || data.message == 'failed') {
                        /* Notify the user somehow */
                        console.log('fail');
                    } else {
                        sessionStorage.setItem('token', data.token);
                        sessionStorage.setItem('authed', "true");
                        logged_in = true;
                        console.log('you are logged in');
                        place_hold(recordid);
                    }
                }).fail(function() {
                    /* Notify the user an error unrelated to credentials occurred */
                })
            });
            $("#holdlogincancel").on("click", function() {
                $(this).parents().eq(1).html(holdbutton);
                $("#holdlogin").html(contents);
                bind_login();
            });
        } else {
            /* Place the hold with the token */
            place_hold(recordid);
        }
    });
}
bind_login();
</script>
