<span class="item_buttons_div">
    <% if item.electronic.to_s != 'true'  %>
        <div class='hold-status-<%= item.id %>'>
        </div>
        <div class='change_pickup_<%= item.id %>' style="display: none">
            <div class="dropdown" style="margin-bottom: 10px;">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    Select New Location
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <% @long_pickup_locations.each do |l| %>
                        <li><a class="clicky" onclick="submit_pickup_change(<%= l[1] %>)"><%= l[0] %></a></li>
                    <% end %>
                </ul>
            </div>
            <button type="button" class="btn btn-danger" onclick="cancel_change()">
                Cancel Change
            </button>
        </div>
        <div class="holdlogin-<%= item.id %>" style="display: none">
            <div>
                <div class="alert alert-info">
                    <i class="glyphicon glyphicon-user"></i> Log in to place hold
                </div>
            </div>
            <label for="holdloginuser">Username or Library Card</label>
            <input type="text" id="holdloginuser-<%= item.id %>" class="holdloginuser-<%= item.id %> form-control" name="holdloginuser" />
            <label for="holdloginpass" class="padtop">Password</label>
            <input type="password" id="holdloginpass-<%= item.id %>" class="holdloginpass-<%= item.id %> form-control" name="holdloginpass" />
            <div class="padtop">
                <div class="btn-group" style="min-width:120px;">
                    <button type="button" class="btn btn-success loginsubmit" onclick="login(<%= item.id %>)">
                        Log in and Place Hold
                    </button>
                </div>
            </div>
            <div class="padtop">
                <button type="button" class="btn btn-danger logincancel" onclick="login_cancel(<%= item.id %>)">
                    Cancel
                </button>
            </div>
        </div>
        <p>
            <div class="btn-group" style="min-width:120px;">
                <button class="btn btn-success holdbtn hold-<%= item.id %>" onclick="place_hold(<%= item.id %>)">
                    Place hold
                </button>
            </div>
        </p>
        <% if !item.holds.nil? && item.holds.to_i > 0 %>
            <p>
                <b><%= pluralize(item.holds, 'hold') %> on <%= pluralize(item.all_copies_total, 'copy') %></b> 
            </p>
        <% end %>
    <% end %>
    <% if item.eresource.to_s != ''  %>
        <p>
            <div class="btn-group" style="min-width:120px;">
                <% if item.eresource.include? 'https://goo.gl/' %>
                    <a class="btn btn-default" href="<%= item.eresource %>">View Manual</a>
                <% else %>
                    <a class="btn btn-success" href="<%= item.eresource %>">View Online</a>
                <% end %>
            </div>
        </p>
    <% end %>
    <% if @default_list %>
        <div class="btn-group" style="min-width:120px;">
            <button type="button" class="btn btn-primary add-list-<%= item.id %>" onclick="add_to_list(<%= @default_list %>, <%= item.id %>)">Add to List</button>
            <button type="button" class="btn btn-primary dropdown-toggle button-<%= item.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="smartdrop dropdown-menu dropdown-menu-right">
                <% @lists.each do |l| %>
                    <li>
                        <a class="clicky" onclick="add_to_list(<%= l.list_id %>,<%= item.id %>)">
                            <%= truncate(l.title, length: 30, separator: ' ') %>
                            <% if l.default == true %> 
                                <span class="sr-only">Default list</span>
                                <i class="glyphicon glyphicon-ok-sign text-success"></i>
                            <% end %>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
    <% elsif @lists && !@lists.empty? %>
        <div class="btn-group" style="min-width:120px;">
            <button type="button" class="btn btn-primary dropdown-toggle add-list-<%= item.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add to List
            </button>
            <ul class="smartdrop dropdown-menu dropdown-menu-right">
                <% @lists.each do |l| %>
                    <li>
                        <a class="clicky" onclick="add_to_list(<%= l.list_id %>,<%= item.id %>)"><%= truncate(l.title, length: 30, separator: ' ') %>
                            <% if l.default == true %> 
                                <span class="sr-only">Default list</span>
                                <i class="glyphicon glyphicon-ok-sign text-success"></i>
                            <% end %>
                        </a>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</span>
<div style="clear: both"></div>
