<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
		<img style="width:100%;" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.id %>"
            onerror="this.src='<%= asset_path("logo-clock-only.png") %>?id=<%= item.id %>';this.onerror='';">
	</div>	    	
	<div class="col-xs-12 col-sm-6 col-md-9 col-lg-9">
        <div class="row">
            <div class="col-xs-10 col-lg-10">
                <h2><%= item.title %></h2>
            </div>
            <div class="col-xs-2 col-lg-2">
                <h2><span class="pull-right glyphicon <%= format_icon(item.format_type, @format_icons) %>" title="<%= format_name(item.format_type, @format_names) %>"></span><span class="sr-only"><%= format_name(item.format_type, @format_names) %></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12">
                <% if !item.author.nil? %>
                    <p>
                        <a href="<%= related_search_link(item.author, item, 'author') %>" data-no-turbolink="true"> <%= item.author %> </a>
                    </p>
                <% end %>    
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-9">
                <div id="goodreads_review">
                </div>
                <% if !item.abstract.nil? %>
                    <dl>
                        <dt>Summary</dt>
                        <dd><%= item.abstract %></dd>
                    </dl>
                <% end %>
                <% if !item.check_trailer.nil? %>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="/util/youtube?id=<%= item.id %>" width="100%" style="overflow:hidden;"></iframe>
                    </div>
                <% end %>
                <% if !item.contents.nil? %>
                    <dl>
                        <dt>Contents</dt>
                        <dd><%= item.contents %></dd>
                    </dl>
                <% end %>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-3">
                <span class="pull-right">
                    <% if item.eresource.nil? || item.eresource == '' %>
                        <div class='hold-status-<%= item.id %>'>
                        </div>
                        <div class="holdlogin-<%= item.id %>" style="display: none">
                            <div>
                                <div class="alert alert-info">
                                    <i class="glyphicon glyphicon-user"></i> Log in to place hold
                                </div>
                            </div>
                            <label for="holdloginuser">Username or Library Card</label>
                            <input type="text" class="holdloginuser-<%= item.id %> form-control" name="holdloginuser" />
                            <label for="holdloginpass" class="padtop">Password</label>
                            <input type="password" class="holdloginpass-<%= item.id %> form-control" name="holdloginpass" />
                            <div class="padtop">
                                <button type="button" class="btn btn-success loginsubmit" onclick="login(<%= item.id %>)">
                                    Log in and Place Hold
                                </button>
                            </div>
                            <div class="padtop">
                                <button type="button" class="btn btn-danger logincancel" onclick="login_cancel(<%= item.id %>)">
                                    Cancel
                                </button>
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-success holdbtn hold-<%= item.id %>" onclick="place_hold(<%= item.id %>)">
                                Place hold
                            </button>
                        </p>
                    <% else %>
                        <p><a class="btn btn-success" href="<%= item.eresource %>">View Online</a></p>
                    <% end %>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <% if !item.physical_description.nil? %>
                    <dl>
                        <dt>Description</dt>
                        <dd><%= item.physical_description %></dd>
                    </dl>
                <% end %>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <% if !item.publisher.nil? %>
                    <dl>
                        <dt>Publisher</dt>
                        <dd><%= item.publisher %>  <% item.publication_place %> <%= item.record_year %></dd>
                    </dl>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <%= link_to 'marc', data:{params: item.create_params}, :method => :post,  :remote => true, :type => 'button', :class => 'btn btn-default btn-xs padtop' do %>
                    <span class="glyphicon glyphicon-list-alt"></span> MARC
                <% end %>
                <%= link_to main_details_path(id: item.id), :type => 'button', :target => "_blank", :class => 'btn btn-default btn-xs padtop' do %>
                    <span class="glyphicon glyphicon-link"></span> Permalink
                <% end %>
            </div>
        </div>
	</div>
</div>
<div class="row clearfix padbot"></div>
<script>
    $('#goodreads_review').html("<%= escape_javascript(goodreads_review(item.goodreads)) %>")
</script>
