<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<img style="width:100%;" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.id %>">
	</div>	    	
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-xs-10 col-lg-10">
                <h2><%= item.title.split("/")[0] %></h2>
            </div>
            <div class="col-xs-2 col-lg-2">
                <h2><span class="pull-right glyphicon <%= format_icon(item.format_type, @format_icons) %>" title="<%= item.format_type %>"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12"><p><%= item.author %></p></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-lg-8">
                <% if !item.abstract.nil? %>
                    <dl>
                        <dt>Summary</dt>
                        <dd><%= item.abstract %></dd>
                <% if item.check_trailer %>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.youtube.com/embed/<%= item.check_trailer %>"></iframe>
                    </div>
                <% end %>
                    </dl>
                <% end %>
                <% if !item.contents.nil? %>
                    <dl>
                        <dt>Contents</dt>
                        <dd><%= item.contents %></dd>
                    </dl>
                <% end %>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <span class="pull-right"><% if item.eresource.nil? %><p><button class="btn btn-success holdbtn" id="record-<%= item.id %>">Place hold</button></p><% end %></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <% if !item.physical_description.nil? %>
                    <dl>
                        <dt>Description</dt>
                        <dd><%= item.physical_description %></dd>
                    </dl>
                <% end %>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <% if !item.publisher.nil? %>
                    <dl>
                        <dt>Publisher</dt>
                        <dd><%= item.publisher %>  <% item.publication_place %> <%= item.record_year %></dd>
                    </dl>
                <% end %>
            </div>
        </div>
	</div>
</div>
<div class="row clearfix padbot"></div>
<div id="holdlogin" style="display: none">
    <div id="loginmessage" class="alert alert-warning"><i class="glyphicon glyphicon-user"></i> Log in to place hold</div>
    <label for="holdloginuser">Username or Library Card</label>
    <input type="text" id="holdloginuser" name="holdloginuser" class="form-control" />
    <label for="holdloginpass" class="padtop">Password</label>
    <input type="password" id="holdloginpass" name="holdloginpass" class="form-control" />
    <div class="padtop">
        <button type="button" class="btn btn-success loginsubmit" id="holdloginsubmit">Log in and Place Hold</button>
    </div>
    <div class="padtop">
        <button type="button" class="btn btn-danger logincancel" id="holdlogincancel">Cancel</button>
    </div>
</div>
<script>
function bind_login() {
    $('.holdbtn').on("click", function() {
        var recordid = $(this).attr("id").replace('record-', '');
        var logged_in = sessionStorage.getItem('authed');
        var buttondiv = $(this).parents().eq(1);
        var buttonhtml = $(this).parents().eq(1).html();
        if (logged_in == null) {
            var contents = $('#holdlogin').html();
            $('#holdlogin').empty();
            $(this).parent().html(contents);
            $("#holdloginsubmit").on("click", function() {
                var username = $('#holdloginuser').val();
                var password = $('#holdloginpass').val();
                $('#holdloginsubmit').text('Logging in...');
                /*
                 *  this whole section after here should probably be a function
                 *  in all.js, but it's kind of customized for this specific
                 *  purpose (updating specific element ids with messages, etc)
                 *  so we'll need to figure that out.
                 *
                 *  baby steps.
                 *
                 */
                if (username != null || username != '') { sessionStorage.setItem('username', username); }
                var login_params = {"username": username, "password": password};
                var jqxhr = $.ajax({
                    method: 'POST',
                    url: 'https://apiv2.catalog.tadl.org/account/login',
                    data: login_params,
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded, charset=UTF-8",
                    timeout: 15000
                }).done(function(data) {
                    if (data.message == 'login failed' || data.message == 'failed') {
                        $('#loginmessage').text('There was a problem with your username or password. Please try again.');
                        $('#holdloginsubmit').text('Log in and place hold');
                        $('#holdloginuser').val('')
                        $('#holdloginpass').val('');
                        console.log('fail');
                    } else {
                        sessionStorage.setItem('token', data.token);
                        sessionStorage.setItem('authed', "true");
                        logged_in = true;
                        console.log('you are logged in');
                        $('#holdloginsubmit').text('Placing hold...');
                        place_hold(recordid, buttondiv, buttonhtml);
                    }
                }).fail(function() {
                    $('#loginmessage').text('Sorry, something went wrong. Please try again.');
                })
            });
            $("#holdlogincancel").on("click", function() {
                $(buttondiv).html(buttonhtml);
                $("#holdlogin").html(contents);
                bind_login();
            });
        } else {
            $('#record-' + recordid).text('Placing hold...');
            place_hold(recordid);
        }
    });
}
bind_login();
</script>
