<div class="row" style="margin-top:-15px;">
    <div class="col-xs-12">
        <a href="#">&laquo; Back to search results</a>
    </div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<img style="width:100%;" src="https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.record_id %>">
	</div>	    	
	<div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-xs-10 col-lg-10">
                <h2><%= item.title.split("/")[0] %></h2>
            </div>
            <div class="col-xs-2 col-lg-2">
                <h2><span class="pull-right glyphicon <%= format_icon(item.format, @format_icons) %>" title="<%= item.format %>"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-12"><p><%= item.author %></p></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <% if !item.summary.nil? %>
                    <dl>
                        <dt>Summary</dt>
                        <dd><%= item.summary %></dd>
                    </dl>
                <% end %>
                <% if !item.contents.nil? %>
                    <dl>
                        <dt>Contents</dt>
                        <dd><%= item.contents %></dd>
                    </dl>
                <% end %>
            </div>
            <div class="col-xs-12 col-lg-4">
                <span class="pull-right"><% if item.eresource.nil? %><p><button class="btn btn-success">Place hold</button></p><% end %></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-6">
                <% if !item.physical_description.nil? %>
                    <dl>
                        <dt>Description</dt>
                        <dd><%= item.physical_description %></dd>
                    </dl>
                <% end %>
            </div>
            <div class="col-xs-12 col-lg-6">
                <% if !item.publisher.nil? %>
                    <dl>
                        <dt>Publisher</dt>
                        <dd><%= item.publisher + ' ' + item.publication_place + ' ' + item.record_year %></dd>
                    </dl>
                <% end %>
            </div>
        </div>
	</div>
</div>
<div class="row clearfix padbot"></div>
