<% if location == '22' || location == nil || location == '' %>
    <% holdings.each do |h| %>
            <h4><b>Copies Available at <%= location_map(h['code'], @location_options)  %></b></h4>
            <% h['copies'].each do |c| %>
                    <%= c['count'] %> available in <strong><%= c['shelf_location'] %>,</strong>
                    <% c['call_numbers'].each do |n| %>
                        Call number: <strong><%= n %></strong>
                    <% end %>
                    <br>
            <% end%>
    <% end %>
<% else %>
    <% holdings.each do |h| %>
        <% if h['code'].to_s == location %>
            <h4><b>Copies Available at <%= location_map(h['code'], @location_options)  %></b></h4>
            <% h['copies'].each do |c| %>
                    <%= c['count'] %> available in <strong><%= c['shelf_location'] %>,</strong>
                    <% c['call_numbers'].each do |n| %>
                        Call number: <strong><%= n %></strong>
                    <% end %>
                    <br>
            <% end%>
        <% end %>
    <% end %>
<% end %>