<div class="list-group">
    <% if location == '22' || location == nil || location == '' %>
        <% holdings.each do |h| %>
            <div class="list-group-item">
                <h4 class="list-group-item-heading"><%= location_map(h['code'], @location_options)  %></h4>
                <% h['copies'].each do |c| %>
                    <div class="list-group-item-text">
                    <%= c['count'] %> available in <%= c['shelf_location'] %></div><% c['call_numbers'].each do |n| %>
                        <span class="label label-primary"><%= n %></span>
                    <% end %>
                <% end%>
            </div>
        <% end %>
    <% else %>
        <% holdings.each do |h| %>
            <% if h['code'].to_s == location %>
                <h4>Copies Available at <%= location_map(h['code'], @location_options)  %></h4>
                <% h['copies'].each do |c| %>
                    <%= c['count'] %> available in <%= c['shelf_location'] %> with call number(s): <% c['call_numbers'].each do |n| %>
                        <%= n %>
                    <% end %>
                    </br>
                <% end%>
            <% end %>
        <% end %>
    <% end %>
</div>
