<div class="responsive-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Library</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% copies.each do |copy| %>
                <tr>
                    <td><%= copy.location %></td>
                    <td><%= copy.call_number %> in <%= copy.shelving_location %></td>
                    <td>
                        <%if copy.status == 'Available' %>
                            <%= copy.status %>
                        <% else %>
                            <%= copy.status %> - Due On <%= copy.due_date %>
                        <% end %>
                    </td>
                </tr>
            <% end %>    
        </tbody>
    </table>
</div>

