<div class="responsive-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Library</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% item.clean_holdings.each do |h| %>
                <% if all == true %>
                    <% if item.loc == '22' || item.loc == '' || item.loc == nil || item.loc == '47' %>
                        <% if h['status'] == 'Reshelving' || h['status'] == 'Available' || h['status'] == 'New Serial' %>
                            <tr>
                                <td>
                                  <%= circ_lib_helper( h['circ_lib']) %>
                                </td>
                                <td><strong><%= h['call_number'] %></strong> in <strong><%= h['location'] %></strong></td>
                                <td>
                                    <% if h['status'] == 'Checked out' %>
                                        <%= h['status'] %> (Due: <%= h['due_date'] %>)
                                    <% else %>
                                        <%= h['status'] %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% else %>
                        <% if (h['status'] == 'Reshelving' || h['status'] == 'Available' || h['status'] == 'New Serial') && item.loc == location_to_code(h['circ_lib']) %>
                            <tr>
                                <td>
                                  <%= h['circ_lib'] %>
                                </td>
                                <td><strong><%= h['call_number'] %></strong> in <strong><%= h['location'] %></strong></td>
                                <td>
                                    <% if h['status'] == 'Checked out' %>
                                        <%= h['status'] %> (Due: <%= h['due_date'] %>)
                                    <% else %>
                                        <%= h['status'] %>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                <% else %>
                    <tr>
                        <td>
                          <%= h['circ_lib'] %>
                        </td>
                        <td><strong><%= h['call_number'] %></strong> in <strong><%= h['location'] %></strong></td>
                        <td>
                            <% if h['status'] == 'Checked out' %>
                                <%= h['status'] %> (Due: <%= h['due_date'] %>)
                            <% else %>
                                <%= h['status'] %>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            <% end %>    
        </tbody>
    </table>
</div>
