<div class="responsive-table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Library</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% item.clean_holdings.each do |h| %>
                <% if all == true %>
                    <% if h['status'] == 'Reshelving' || h['status'] == 'Available' %>
                        <tr>
                            <td><%= h['circ_lib'] %></td>
                            <td><%= h['call_number'] %> in <%= h['location'] %></td>
                            <td>
                            <%= h['status'] %>
                            </td>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                        <td><%= h['circ_lib'] %></td>
                        <td><%= h['call_number'] %> in <%= h['location'] %></td>
                        <td>
                        <%= h['status'] %>
                        </td>
                    </tr>
                <% end %>
            <% end %>    
        </tbody>
    </table>
</div>

