<li id="login_drop_down" class="dropdown">
    <a tabindex="0"  href="#" class="navbar-nav dropdown-toggle add-focus" data-toggle="dropdown" style="">Sign in <b class="caret"></b></a>
    <ul class="dropdown-menu" style="padding: 20px; min-width: 300px;">
        <form id="login_form">
        <li>
            <div class="row">
                <div class="col-md-12" id="the-login-form">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <label class="sr-only" for="username"><%= Settings.login_username_placeholder %></label>
                        <input type="text" class="form-control" id="username" name="username" autocapitalize="none" autocorrect="off" placeholder="<%= Settings.login_username_placeholder %>" required>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <label class="sr-only" for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        <span class="input-group-btn">
                            <button id="togglePassword" class="btn btn-default" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </li>
        </form>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" onclick="login()">Sign in</button>
            <% if Settings.account_only != 'true' %>
                <a href="#" class="pull-right" id="reset_password_link" data-toggle="modal" data-target="#passReset"><%= Settings.passreset_text %></a>
            <% end %>
        </div>
    </ul>
    <% if Settings.has_registration == "true" && Settings.register_button != 'false' %>
        <button type="button" class="btn btn-primary navbar-btn" id="acctreg" data-reg-location="<%= Settings.register_link || '/register' %>">Register</button>
    <% end %>
</li>
<script>$('#the-login-form').keydown(function(event) { if (event.keyCode == 13) { login(); } });
    <%= render partial: 'comp_reservation' %>
    $('#pass-reset-form').keydown(function(event) { if (event.keyCode == 13) { passwordReset(); } });
    document.getElementById('togglePassword').addEventListener('click', function (e) {
        e.stopPropagation();
        const passwordInput = document.getElementById('password');
        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordInput.setAttribute('type', type);
        // Toggle the icon or button text if needed
        this.innerHTML = type === 'password' ? '<i class="glyphicon glyphicon-eye-open"></i>' : '<i class="glyphicon glyphicon-eye-close"></i>';
    });
</script>