<!-- app/views/_navigation.html.erb -->
<nav class="navbar navbar-default navbar-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#opac-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-left navi" href="<%= main_index_path %>">
                <img alt="Catalog Home" src="<%= asset_path(Settings.logo) %>" style="height: 100%;" />
            </a>
        </div>
        <div class="collapse navbar-collapse" id="opac-navbar">
            <ul class="nav navbar-nav navbar-left">
                <% if !Settings.opac_toggle.nil? %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= Settings.opac_toggle_default %> Catalog <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                                <% Settings.opac_toggle.each do |s| %>
                                    <% if s['name'] != @this_site %>
                                        <li><a href="<%= s['url'] %><% if !params[:query].blank? %>?query=<%= params[:query] %><% end %>"><%= s['name'] %> Catalog</a></li>
                                    <% end %>
                                <% end %>
                        </ul>
                    </li>
                <% end %>
                <% if Settings.account_only != 'true' %>
                    <li<% if request.path == main_index_path || request.path == '/' %> class="active"<% end %>>
                        <a class="navi" href="<%= main_index_path %>">Home</a>
                    </li>
                    <li<% if request.path == main_search_path || request.path == '/search' %> class="active"<% end %>><a class="navi" href="<%= search_link_helper %>"><%= Settings.search_menu %></a></li>
                <% end %>
                <% if !Settings.additional_nav_links.nil? && Settings.additional_nav_links_dropdown == true %>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <% Settings.additional_nav_links.each do |link| %>
                                <li><a <% if !link['onclick'].nil? %>class="clicky" onclick="<%= link['onclick'] %>"<% else %>href="<%= link['href'] %>"<% end %>><%= link['name'] %></a></li>
                            <% end %>
                        </ul>
                    </li>
                <% end %>
                <% if !Settings.additional_nav_links.nil? %>
                    <% Settings.additional_nav_links.each do |link| %>
                        <li><a <% if !link['onclick'].nil? %>class="clicky" onclick="<%= link['onclick'] %>"<% else %>href="<%= link['href'] %>"<% end %>><%= link['name'] %></a></li>
                    <% end %>
                <% end %>
            </ul>
            <%= render 'account_box' %> 
        </div>
    </div>
</nav>
