<%= bootstrap_form_tag url: 'search', :html => { :method => 'get', :class => 'form' } do |f| %>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><%= Settings.search_text %></span>
                <label class="sr-only control-label" for="query">Query</label>
                <input class="form-control" id="query" name="query" type="search" placeholder="<%= Settings.search_placeholder %>"
                    <% if !params[:query].blank? %>
                        value="<%= params[:query] %>"
                    <% end %>
                    >
                <input type="hidden" name="layout" value="grid">
                <input type="hidden" name="qtype" value="keyword">
                <input type="hidden" name="sort" value="relevancy">
                <input type="hidden" name="loc" value="<%= Settings.default_loc %>">
                <% if Settings.shelf_lock && Settings.shelf_lock.default_activated == true %>
                    <input type="hidden" name="fmt" value="all">
                    <input type="hidden" name="shelf_lock" value="on">
                <% else %>
                    <input type="hidden" name="fmt" value="<%= @format_default %>">
                <% end %>
                <span class="input-group-btn">
                    <button type="submit" name="commit" class="btn btn-primary" id="search-button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
<% end %>
