<div class="panel panel-primary" id="panel-notification-prefs">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="padding-top:3px;">Notification Prefs</h3>
        <div class="btn-group pull-right">
            <a href="#" class="btn btn-default btn-xs edit-notification-prefs">Edit</a>
        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-striped">
            <thead>
                <tr><th>Setting</th><th>Current Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Day Phone</td><td id="day_phone-value"><%= @preferences['day_phone'] %></td></tr>
                <% if @preferences['evening_phone'] != '' %>
                    <tr><td>Evening Phone</td><td id="evening_phone-value"><%= @preferences['evening_phone'] %></td></tr>
                <% end %>
                <% if @preferences['other_phone'] != '' %>
                    <tr><td>Other Phone</td><td id="other_phone-value"><%= @preferences['other_phone'] %></td></tr>
                <% end %>
                <tr><td>Phone Notify Number</td><td id="phone_notify_number-value"><%= @preferences['phone_notify_number'] || 'none' %></td></tr>
                <tr><td>Text Notify Number</td><td id="text_notify_number-value"><%= @preferences['text_notify_number'] || 'none' %></td></tr>
                <tr><td>Email Notify</td><td id="email_notify-value"><%= @preferences['email_notify'] %></td></tr>
                <tr><td>Phone Notify</td><td id="phone_notify-value"><%= @preferences['phone_notify'] %></td></tr>
                <tr><td>Text Notify</td><td id="text_notify-value"><%= @preferences['text_notify'] %></td></tr>
            </tbody>
        </table>
    </div>
</div>
