<div class="panel panel-primary" id="panel-circulation-prefs">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="padding-top:3px;">Circulation Prefs</h3>
        <div class="btn-group pull-right" id="circ-prefs-buttons">
            <a href="#" class="btn btn-default btn-xs edit-circulation-prefs">Edit</a>
        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-striped">
            <thead>
                <tr><th>Setting</th><th>Current Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Pickup Library</td><td id="pickup_library-value"><%= location_map(@preferences['pickup_library'], @location_options) %></td></tr>
                <tr><td>Keep Circulation History</td><td><span class="<%= location_map(@preferences['keep_circ_history'], @truefalseicons) %>"></span><span class="sr-only" id="keep_circ_history-value"><%= @preferences['keep_circ_history'] %></td></tr>
                <tr><td>Keep Hold History</td><td><span class="<%= location_map(@preferences['keep_hold_history'], @truefalseicons) %>"></span><span class="sr-only" id="keep_hold_history-value"><%= @preferences['keep_hold_history'] %></span></td></tr>
                <tr><td>Default Search Location</td><td id="default_search-value"><%= location_map(@preferences['default_search'], @location_options) %></td></tr>
            </tbody>
        </table>
    </div>
    <div id="circ-prefs-footer" class="panel-footer clearfix" style="display:none;">
        <div class="pull-right">
            <a href="#" class="btn btn-danger cancel-circulation-prefs">Cancel</a>
            <a href="#" class="btn btn-success save-circulation-prefs">Save</a>
        </div>
    </div>
</div>
