<div class="panel panel-primary" id="panel-notification-prefs">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="padding-top:3px;">Notification Preferences</h3>
        <div class="btn-group pull-right" id="notification-prefs-buttons">
            <a href="#" class="btn btn-default btn-xs edit-notification-prefs">Edit</a>
        </div>
    </div>
    <div class="panel-body table-responsive">
        <table class="table table-striped">
            <thead>
                <tr><th>Setting</th><th>Current Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Phone</td><td id="day_phone-value"><%= @preferences['day_phone'] %></td></tr>
                <tr><td>Phone Notify Number</td><td id="phone_notify_number-value"><%= @preferences['phone_notify_number'] || @preferences['day_phone'] %></td></tr>
                <% if Settings.sms_notify == true %>
                    <tr><td>Text Notify Number</td><td id="text_notify_number-value"><%= @preferences['text_notify_number'] || @preferences['day_phone'] %></td></tr>
                <% end %>
                <tr><td>Email Notify</td><td><span class="<%= location_map(@preferences['email_notify'], @truefalseicons) %>"></span><span class="sr-only" id="email_notify-value"><%= @preferences['email_notify'] %></span></td></tr>
                <tr><td>Phone Notify</td><td><span class="<%= location_map(@preferences['phone_notify'], @truefalseicons) %>"></span><span class="sr-only" id="phone_notify-value"><%= @preferences['phone_notify'] %></span></td></tr>
                <% if Settings.sms_notify == true %>
                    <tr><td>Text Notify</td><td><span class="<%= location_map(@preferences['text_notify'], @truefalseicons) %>"></span><span class="sr-only" id="text_notify-value"><%= @preferences['text_notify'] %></span></td></tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div id="notification-prefs-footer" class="panel-footer clearfix" style="display:none;">
        <div class="pull-right">
            <a href="#" class="btn btn-danger cancel-notification-prefs">Cancel</a>
            <a href="#" class="btn btn-success save-notification-prefs">Save</a>
        </div>
    </div>
</div>
