    <div class="panel panel-default"><!-- items are available -->      
        <div class="panel-heading">
                <%= link_to 'details.js?id='+item.record_id, :remote => true do %>
                    <span class="glyphicon <%= format_icon(item.format_type, @format_icons) %>" title="<%= item.format_type %>"></span>
                    <%= item.title %>
                <% end %>
        </div>
        <div class="panel-body">

             <%= link_to 'details.js?id='+item.record_id, :remote => true  do %> 
                <img src='https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= item.record_id %>' 
                    onerror="this.src='<%= asset_path("logo-clock-only.png") %>?id=<%= item.record_id %>'" />
             <% end %>       
        </div><!-- /.panel-body -->
    </div><!-- /.panel -->
