<% if item.loc_copies_available.to_i > 0 %>
    <div id="item_<%=item.id%>" class="panel panel-success"><!-- available -->
<% else %>
    <div id="item_<%=item.id%>" class="panel panel-default"><!-- not available -->
<% end %>
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                <a class="item_details_link" href="details?id=<%= item.id %>" onclick="item_details(<%= item.create_params.to_json %>)">
                    <h4 class="panel-title">
                        <span class="glyphicon <%= format_icon(item, @format_icons) %>" title="<%= item.format_type %>"></span>
                        <%= item.title %>
                    </h4>
                </a>
            </div>
        </div>
    </div><!-- /.panel-heading -->
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <a class="item_details_link" href="details?id=<%= item.id %>" onclick="item_details(<%= item.create_params.to_json %>)">
                    <img src='<%= Settings.cover_path_med %><%= item.id %>' onerror="this.src='<%= asset_path(Settings.logo) %>'" />
                </a>
            </div>
            <div class="col-sm-9 col-xs-12">
                <div class="row">
                    <div class="col-sm-9 col-xs-12">
                        <% if !item.author.nil? %>
                            <h4>
                                <a href="<%= related_search_link(item.author, item, 'author') %>">
                                    <%= item.author %>
                                </a>
                            </h4>
                        <% end %>
                        <div class="visible-xs">
                            <span class="item_buttons_div">  
                                <div class="btn-group" style="min-width:120px;">
                                    <a class="item_details_link padtop btn btn-info details-button" href="details?id=<%= item.id %>" onclick="item_details(<%= item.create_params.to_json %>)">
                                        Details
                                    </a>
                                </div>
                            </span>
                            <div style="clear: both"></div>
                            <%= render 'item_buttons', item: item %>
                        </div>  
                        <% if !item.abstract.blank?  %>
                            <p><b>Summary:</b> <%= truncate(item.abstract, length: 400, separator: ' ') %></p>
                        <% elsif !item.contents.blank? %>
                            <p><b>Contents:</b> <%= truncate(item.contents, length: 400, separator: ' ') %></p>
                        <% end %>
                        <p><b>Format:</b> <%= item.format_type %></p>
                        <% if !item.publisher.blank? || !item.record_year.blank? %>
                        <p><b>Publisher / Publication Date:</b> <%= item.publisher %> <%= item.record_year %></p>
                        <% end %>
                        <% if (((item.eresource.any? { |r| r.include? 'https://goo.gl/'} )||(item.eresource.any? {|r| r.include? 'https://bit.ly/'})) && item.loc_copies_available >= 1) || item.loc_copies_available >= 1 %>
                            <p>
                                <%= render 'list_holdings', holdings: item.availability, location: @search.loc %>
                            </p>
                        <% else %>
                            <% if item.all_copies_available >= 1 %>
                                <h4  style="color: red">Sorry, no copies available at <%= location_map(@search.loc, @location_options) %></h4> 
                                We have <%= item.all_copies_total %> in the <%= Settings.system_synonym %>. <% if item.holdable.to_s == 'true' %><a href="#" onclick="event.preventDefault();place_hold(<%= item.id %>)">Place a hold</a> to request one. <% end %>
                            <% end %>
                            <% if item.all_copies_available < 1 && ( item.eresource.empty? || ((item.eresource.any? { |r| r.include? 'https://goo.gl/'} )||(item.eresource.any? {|r| r.include? 'https://bit.ly/'})))  %>
                                <h4 style="color: red">Sorry, no copies available</h4> 
                                <% if item.holdable.to_s == 'true' %>
                                    <a href="#" onclick="event.preventDefault();place_hold(<%= item.id %>)">Place a hold</a> to request this item.
                                <% end %>
                            <% end %>
                            <% if item.electronic == true && Settings.is_opac !=  true %>
                                <h4>
                                    <a style="color: green" href="<%= item.eresource %>" target="_blank">
                                        View online at <%= item.source %>
                                    </a>
                                </h4>
                            <% end %>
                            <% if item.electronic == true && Settings.is_opac ==  true %>
                                <h4 style="color: green">
                                    Item available for download or streaming
                                </h4>
                            <% end %>
                        <% end %>
                    </div>
                    <div class="col-sm-3 hidden-xs">
                        <span class="item_buttons_div">  
                            <div class="btn-group" style="min-width:120px;">
                                <a class="item_details_link padtop btn btn-info details-button" href="details?id=<%= item.id %>" onclick="item_details(<%= item.create_params.to_json %>)">
                                    Details
                                </a>
                            </div>
                        </span>
                        <div style="clear: both"></div>
                        <%= render 'item_buttons', item: item %>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.panel-body -->
</div>
