<div id="item_<%=item.id%>" class="panel <%= item.grid_available_panel %>">
    <div class="panel-heading">
        <a class="item_details_link" href="details?id=<%= item.id %>" onclick="item_details(<%= item.create_params.to_json %>)">
            <span class="glyphicon <%= format_icon(item.format_type, @format_icons) %>" title="<%= item.format_type %>"></span> <%= item.title %>
        </a>
    </div><!-- /.panel-heading -->
    <div class="panel-body">
        <a class="item_details_link" href="details?id=<%= item.id %>" onclick="item_details(<%= item.create_params.to_json %>)">
            <img src='<%= Settings.cover_path_med %><%= item.id %>' class="grid-item" 
                onerror="this.src='<%= asset_path(Settings.logo) %>?id=<%= item.id %>'" />
            <% if item.loc_copies_available > 0 %>
                <div class="panel-overlay">
                    <%= item.grid_available_text.html_safe %>
                </div>
            <% end %>
        </a>
    </div><!-- /.panel-body -->
</div><!-- /.panel -->
