<div id="list">
    <% items.each do |slice| %>
        <% if slice.copies_available[0].to_i > 0 %>
            <div class="panel panel-default"><!-- available -->
        <% else %>
            <div class="panel panel-default"><!-- not available -->
        <% end %>
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
                        <h4><%= slice.title %></h4>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                        <h4 class="pull-right">
                        <% if slice.format_type == "Projected medium" %>
                            <span class="glyphicon glyphicon-film"></span>
                        <% elsif slice.format_type == "Musical sound recording" %>
                            <span class="glyphicon glyphicon-cd"></span>
                        <% elsif slice.format_type == "Language material" %>
                            <span class="glyphicon glyphicon-book"></span>
                        <% elsif slice.format_type == "Nonmusical sound recording" %>
                            <span class="glyphicon glyphicon-cd"></span>
                        <% elsif slice.format_type == "Computer file" %>
                            <span class="glyphicon glyphicon-file"></span>
                        <% else %>
                            <%= slice.format_type %>
                        <% end %>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-3 col-xs-12">
                        <img src='https://catalog.tadl.org/opac/extras/ac/jacket/large/r/<%= slice.record_id %>' 
                            onerror="this.src='<%= asset_path("logo-clock-only.png") %>'" />
                    </div>
                    <div class="col-lg-6 col-sm-5 col-xs-12">
                        <% if !slice.author.nil? %><h4><%= slice.author %></h4><% end %>
                        <% if !slice.abstract.nil? %><p><%= slice.abstract %></p><% end %>
                        <% if !slice.contents.nil? %><p><%= slice.contents %></p><% end %>
                    </div>
                    <div class="col-lg-3 col-sm-4 col-xs-12">
                        <% if slice.eresource.nil? %><p><button class="btn btn-success">Place hold</button></p><% end %>
                        <% if !slice.call_number.nil? %><p class="label label-default"><%= slice.call_number %></p><% end %>
                        <% if !slice.availability.nil? %>
                            <% slice.availability.each do |a| %>
                                <p class="padtop"><%= a %></p>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div><!-- /.panel-body -->
        </div><!-- /.panel -->
    <% end %>
</div><!-- /#list -->
<% if @more_results == true %>
    <div id="more_results" class="row clearfix">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">Load More</h1>
        </div>
    </div>
<% end %>
