<!DOCTYPE html>
<html>
<head>
    <% if action_name == "search" %>
        <% if !params['search_title'].blank? %>
            <% title_slug = action_name.capitalize + ": Browsing " + params['search_title'] %>
        <% elsif !params['query'].blank? %>
            <% title_slug = action_name.capitalize + ": " + params['query'].to_s %>
        <% else %>
            <% title_slug = action_name.capitalize %>
        <% end %>
    <% end %>
    <% if action_name == "details" %>
        <% title_slug = "Item details: " + @item.title + ' - ' + @item.id.to_s %>
    <% end %>
    <% if action_name =~ /preferences|checkouts|holds|fines|payments|list_checkout_history/ %>
        <% title_slug = "My Account | " + action_name.capitalize.gsub('_', ' ') %>
    <% end %>
    <% if action_name == "register" %>
        <% title_slug = "Library Account Registration" %>
    <% end %>
    <% if !title_slug.blank? %><% display_title = title_slug %><% else %><% display_title = Settings.location_name %><% end %>
  <title><%= display_title %></title>
  <meta property="og:title" content="<%= display_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="The Traverse Area District Library Online Catalog" />
  <meta property="og:url" content="<%= Settings.public_catalog %><%= request.fullpath %>" />
  <meta property="og:image" content="<% if action_name == "details" %><%= Settings.cover_path_lg %><%= @item.id.to_s %><% else %><%= request.base_url %><%= asset_path(Settings.logo) %><% end %>" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
  <%= stylesheet_link_tag 'application', '/assets/stylesheets/'+Settings.stylesheet, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: "google_analytics_script" %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
    <%= render 'navigation' %>
    <div id="main-container" class="container">
        <div class="row" id="alert-container" style="width:100%">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" id="alert_target"></div>
        </div>
        <%= yield %>
    </div>

    <%= render 'modal_statusmessage' %>
    <%= render 'modal_forcehold' %>

    <a href="#" class="back-to-top">
        <i class="glyphicon glyphicon-menu-up" title="back to top"></i>
    </a>
    <%= render partial: "google_analytics_pageview" %>
</body>
</html>
