<!DOCTYPE html>
<html>
<head>
  <title>Ilscatcher3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
    
    <div id="main-container" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <%= render 'logo_box' %>
            </div>
            <div id="account_box" class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                <%= render 'account_box' %>
            </div>
        </div>
        <%= yield %>
    </div>
    <div class="modal fade" id="statusMessage" role="dialog" tabindex="-1" aria-labelledby="statusMessageModal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <h4 class="text-center padtop" id="statusMessageText">Loading, please wait...</h4>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="100" aria-valuemax="100" style="width:100%"> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top">
        <i class="glyphicon glyphicon-menu-up" title="back to top"></i>
    </a>
    <script type="text/javascript" src="/assets/salvattore.min.js"></script>
</body>
</html>
