<!DOCTYPE html>
<html>
<head>
  <title>Ilscatcher3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
    <%= render 'navigation' %>
    <div id="main-container" class="container">
        <div class="row" id="alert-container" style="width:100%">
            <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3" id="alert_target"></div>
        </div>
        <%= yield %>
    </div>

    <%= render 'modal_statusmessage' %>
    <%= render 'modal_forcehold' %>

    <a href="#" class="back-to-top">
        <i class="glyphicon glyphicon-menu-up" title="back to top"></i>
    </a>
</body>
</html>
