<!DOCTYPE html>
<html>
<head>
  <title>Ilscatcher3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
    <%= render 'shared/navigation' %>
    <div id="main-container" class="container">
        <%= yield %>
    </div>
    <a href="#" class="back-to-top">
        <i class="glyphicon glyphicon-menu-up" title="back to top"></i>
    </a>
    <script type="text/javascript" src="/assets/salvattore.min.js"></script>
</body>
</html>
