<!DOCTYPE html>
<html>
<head>
  <title>YouTube Embed | Catalog | TADL Apps</title>
  <%= stylesheet_link_tag 'application', '/assets/stylesheets/'+Settings.stylesheet, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
    <div class="row">
        <div class="col-xs-12">
            <%= yield %>
        </div>
    </div>
</body>
</html>
